.authContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    background-color: #24283b; /* Dark background */
}

.authForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    margin: 0;
    border: 1px solid #414868; /* Border color */
    background-color: #1a1b26; /* Form background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Shadow for depth */
    border-radius: 10px;
    color: #c0caf5; /* Text color */
}

.authForm input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #414868; /* Input border color */
    background-color: #1a1b26; /* Input background */
    color: #c0caf5; /* Input text color */
    border-radius: 5px;
}

.authForm button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    background-color: #7aa2f7; /* Button background */
    color: #1a1b26; /* Button text color */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.authForm button:hover {
    background-color: #2ac3de; /* Button hover background */
    transform: scale(1.05);
}

.authInput {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.authButton {
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #0070f3;
    color: #fff;
    cursor: pointer;
}

.authButton:hover {
    background-color: #005bb5;
}

.authError {
    color: red;
    margin-top: 10px;
}